.sub_multistep-header {
    text-align: center;
}

.sub_form-heading {
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;
    display: inline-block;
}

.sub_form-heading li {
    display: inline-block;
    padding: 10px;
    min-width: 160px;
    position: relative;
}

.sub_form-heading li::after {
    position: absolute;
    left: 0;
    top: 30px;
    content: '';
    width: 100%;
    height: 3px;
    background: #cccccc;
}

.sub_form-heading li:first-child::after {
    width: 100%;
    left: 50%;
}

.sub_form-heading li:last-child::after {
    width: 50%;
}

.sub_stepno {
    background: #1c01cb;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
    position: relative;
}

.sub_steptitle {
    display: block;
    z-index: 1;
    position: relative;
    text-transform: capitalize;
}

.sub_form-heading li.active .sub_stepno,
.sub_form-heading li.active::after {
    background: #7d0000;
}

.sub_form-heading li.completed .sub_stepno,
.sub_form-heading li.completed::after {
    background: #00ffb3;
}

.sub_multistep-content {
    width: 100%;
    margin: 0 auto;
    border: 1px dashed;
    padding: 10px;
    background-color: beige;
}