@if (formFields.formFields) {

    <form [formGroup]="formName" #formDir="ngForm" formFieldFocus (ngSubmit)="formDir.form.valid && submit(formDir)">

        <div class="row" *ngFor="let form of formFields.formFields; let i = index">
            <div class="col-12 form-group" *ngIf="form.input == 'text'">
                <label>{{form.key}}
                    <span class="required" *ngIf="formName.get(form.key)?.hasError('required')">*</span>
                </label>
                <input [type]="form.input" [formControlName]="form.key" class="form-control"
                    [ngClass]="{'is-invalid' : formName.get(form.key)?.errors && formDir.submitted }">
                <div *ngIf="!formName.get(form.key).valid && formName.get(form.key).errors && formDir.submitted">
                    <div *ngFor="let err of form.valids; let k = index">
                        <span class="error" *ngIf="formName.get(form.key).hasError(err.valid)">{{err.error}}</span>
                    </div>
                </div>
            </div>

            <div class="col-12 form-group" *ngIf="form.input == 'email'">
                <label>{{form.key}}
                    <span class="required" *ngIf="formName.get(form.key).hasError('required')">*</span>
                </label>
                <input [type]="form.input" [formControlName]="form.key" class="form-control"
                    [ngClass]="{'is-invalid' : formName.get(form.key).errors && formDir.submitted }">
                <div *ngIf="!formName.get(form.key).valid && formName.get(form.key).errors && formDir.submitted">
                    <div *ngFor="let err of form.valids; let k = index">
                        <span class="error" *ngIf="formName.get(form.key).hasError(err.valid)">{{err.error}}</span>
                    </div>
                </div>
            </div>

            <div class="col-12 form-group" *ngIf="form.input == 'password'">
                <label>{{form.key}}
                    <span class="required" *ngIf="formName.get(form.key).hasError('required')">*</span>
                </label>
                <input [type]="form.input" minlength="3" [formControlName]="form.key" class="form-control"
                    [ngClass]="{'is-invalid' : formName.get(form.key).errors && formDir.submitted }">
                <div *ngIf="!formName.get(form.key).valid && formName.get(form.key).errors && formDir.submitted">
                    <div *ngFor="let err of form.valids; let k = index">
                        <span class="error" *ngIf="formName.get(form.key).hasError(err.valid)">{{err.error}}</span>
                    </div>
                </div>
            </div>

            <div class="col-12 form-group" *ngIf="form.input == 'select'">
                <label>{{form.key}}
                    <span class="required" *ngIf="formName.get(form.key).hasError('required')">*</span>
                </label>
                <select [formControlName]="form.key" class="form-control"
                    [ngClass]="{'is-invalid' : formName.get(form.key).errors && formDir.submitted }">
                    <option *ngFor="let item of form.items; let j = index" [value]="item.id"
                        [selected]="formValues[form.key]">
                        {{item.name}}
                    </option>
                </select>
                <div *ngIf="!formName.get(form.key).valid && formName.get(form.key).errors && formDir.submitted ">
                    <div *ngFor="let err of form.valids; let k = index">
                        <span class="error" *ngIf="formName.get(form.key).hasError(err.valid)">{{err.error}}</span>
                    </div>
                </div>
            </div>

            <div class="col-12 form-group" *ngIf="form.input == 'radio'">
                <label>{{form.key}}
                    <span class="required" *ngIf="formName.get(form.key).hasError('required')">*</span>
                </label>
                <div class="form-group">
                    <div class="form-check-inline" *ngFor="let item of form.items; let j = index">
                        <label class="form-check-label">
                            <input [type]="form.input" class="form-check-input" [formControlName]="form.key"
                                [value]="item.id"
                                [ngClass]="{'is-invalid' : formName.get(form.key).errors && formDir.submitted }"
                                name="form.key" [checked]="formValues[form.key]">{{item.name}}
                        </label>
                    </div>
                    <div *ngIf="!formName.get(form.key).valid && formName.get(form.key).errors && formDir.submitted">
                        <div *ngFor="let err of form.valids; let k = index">
                            <span class="error" *ngIf="formName.get(form.key).hasError(err.valid)">{{err.error}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 form-group" *ngIf="form.input == 'checkbox'">
                <label>{{form.key}}
                    <span class="required" *ngIf="formName.get(form.key).hasError('required')">*</span>
                </label>
                <div class="form-group">
                    <div class="form-check-inline" *ngFor="let item of form.items; let j = index">
                        <label class="form-check-label">
                            <input [type]="form.input" class="form-check-input" [formControlName]="form.key"
                                [value]="item.id"
                                [ngClass]="{'is-invalid' : formName.get(form.key).errors && formDir.submitted }"
                                name="form.key" [checked]="formValues[form.key]">{{item.name}}
                        </label>
                    </div>
                    <div *ngIf="!formName.get(form.key).valid && formName.get(form.key).errors && formDir.submitted">
                        <div *ngFor="let err of form.valids; let k = index">
                            <span class="error" *ngIf="formName.get(form.key).hasError(err.valid)">{{err.error}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6 form-group text-right">
                <button type="submit" *ngIf="stepNo !== countSteps - 1" class="btn btn-success">Next</button>
                <button type="submit" *ngIf="stepNo === countSteps - 1" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>

}

@if (stepId === '1') {

    <div class="sub_multistep">
        <div class="sub_multistep-header" *ngIf="sub_startingIndex < sub_countSteps">
            <ul class="sub_form-heading">
                <li *ngFor="let sub_step of sub_stepItems; let i = index" [class.active]="i === sub_startingIndex"
                    [class.completed]="i < sub_startingIndex">
                    <span class="sub_stepno">{{i+1}}</span>
                    <span class="sub_steptitle">{{ sub_stepItems[i] }}</span>
                </li>
            </ul>
        </div>

        <div class="sub_multistep-content">
            <app-sub-step-form 
                *ngIf="sub_stepItems && sub_startingIndex < sub_countSteps" 
                [sub_countSteps]="sub_countSteps"
                [sub_stepNo]="sub_startingIndex" 
                sub_stepId="{{sub_multiStepFormData[sub_startingIndex].subStepID}}" 
                parent_stepId="{{stepId}}" 
                [sub_formFields]="sub_multiStepFormData[sub_startingIndex]"
                [sub_formValues]="sub_formValues" 
                [sub_stepName]="sub_multiStepFormData[sub_startingIndex].stepname"
                (sub_formData)="subGetFormData($event)" 
                (sub_newStep)="subOnNewStep($event)"
            ></app-sub-step-form>
        </div>
    </div>

}